
.container{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.comments-chat{
    height: 100vh;
}

.comments-feed{
    height: calc(100vh - 100px);
    overflow: scroll;
}

.ui.comments .comment.reduced{
    padding-top: 0;
    margin-top: 0;
}
.comments.ui{
    width: 100%;
    max-width: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc(100vh - 120px);
}
@media (min-width: 1140px){
    .container{
        width: 1200px;
    }
}

@media (min-width: 768px){
    .container{
        width: 800px;
    }
}
